<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title_music }}-{{ title_author }}</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/font.css" >
    <link rel="stylesheet" type="text/css" href="/static/css/music_page.css" >
</head>
<body>
    <div class="main">
        <img src='/{{ data.url_img }}'><br>
        <div class="muisc_return">
             <audio controls="controls">
                 <source src='/{{ data.url_music }}' type="audio/mpeg">
             </audio><br>
             <a href="/">Домой</a>
        </div>
        <h2>Музыкант/группа: {{ data.music_author }}; Название песни: {{ data.music_name }};</h2><br>
        <h2>Автор поста: {{ user.name }}</h2><br>
        {% if current_user.is_authenticated %}
        <a href="/download/{{ data.id }}">Скачать</a>
        <h1>Оставить комментарий:</h1>
        <form action="" method="post">
            {{ form.csrf_token }}
            {{ form.comment() }} {{ form.submit() }}
        </form>
        {% for comment in comments %}
        <div class="commentary">
            <h1>{{ comment.user_name }}:</h1><br>
            <h2>{{ comment.text }}</h2>
        </div>
        {% endfor %}
        {% else %}
        Заругестрируйся или войди в аккаунт ;)
        {% endif %}
    </div>
</body>